div.gallery img {
    width: 90%;
    height: 200px;
    margin: 40px 40px 40px 0px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 10px;
    float: left;
    width: 32%;
}

@media only screen and (max-width: 750px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 90%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*-----1------*/

.container1 {
    position: relative;
    width: 100%;
}

.container1:hover{
    opacity: 1;
}

.image1 {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*-----2------*/

.container2 {
    position: relative;
    width: 100%;
}

.image2 {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*-----3------*/

.container3 {
    position: relative;
    width: 100%;
}

.image3 {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}