.pic1 {
    position: relative;
    font-family: verdana, arial, sans-serif;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    top: 52%;
    font-size: 15px;
    text-align:justify;
}

.pic1 img {
    width: 100%;
}

.text-block h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-block p{
    margin-top: 20px;
}

.next {
    background-color: #1625c5;
    color: #FFFFFF;
}

.more a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.more a:hover {
    background-color: #E8E8E8;
    color: #34a8eb;
}