.product h2{
    width: 80%;
    height: 50px;
    background: #006600;
    color: #FFFFFF;
    padding-top: 10px;
    margin-left: 10%;

}

.fa-chevron-circle-down{
    margin-left: 58px;
}

.milktea h3{
    color: #006600;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    padding-left: 10px;
    padding-bottom: -20px;
}

.product-menu{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    margin-left: 10%;
}

.grid-item{
    height: 400px;
    border: 1px solid #00B000;
    margin: 5% 5%;
}

.product-menu img{
    height: 300px;
    width: 241px;
}

.product-menu .amount{
    margin-left: 10px;
    font-weight: bold;
}

.product-menu h4 a{
    margin-left: 10px;
    text-decoration: none;
    color: #807e7e;
}

.product-menu h4{
    margin-top: 5px;
}

.product-menu h4 a:hover{
    color: #006600;
}

.product-menu .add-to-cart-action{
    text-align: center;
    margin-top: 5px;
    padding-bottom: 20px;
}

.product-menu .btn{
    border-radius: 15px 15px 15px 15px;
    height: 28px;
    border: 1px solid #dddddd;
    color: #666666;
    cursor: pointer;
}

.product-menu .btn:hover{
    background-color: #006600;
    color: #FFFFFF;
}

