.product{
    /*width: auto;*/
    /*height: auto;*/
    width: 22%;
}

.highlight-menu {
    background: #00B000;
    color: #FFFFFF;
}

.product ul{
    margin-bottom: 40px;
    margin-left: 30px;
}

.product ul li:hover{
    background-color: #d4d3d3;
}

.product ul h2{
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid #00B000;
    border-top: 2px solid #00B000;
    border-left-width: 2px;
    border-right-width: 2px;
    padding-left: 30px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;
}

.product h2{
    background: #006600;
    color: #FFFFFF;
}

.fa-chevron-circle-down{
    margin-left: 58px;
}

.product ul li{
    list-style-type: none;
    line-height: 35px;
    border: 1px solid #00B000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    padding: 10px 0;
    padding-left: 36px;
    text-align: left;
}

.product ul a li:hover{
    color: #006600;
}

.product ul a {
    text-decoration: none;
    color: #000000;
}