* {
    box-sizing:border-box;
}
html, body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFF;
}

.highlight {
    opacity: 0.5;
}

/*HEADER*/
.header{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    padding: 0 1%;
    background: #00B000;
}

/*------THANH CHáº Y-----*/

.Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #B3B6B7;
    position: absolute;
    top: -95px;
    font-size: 45px;
    left: 2%;
}

.Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
    position: absolute;
}

.Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
    left: 320px;
}

.Iam .innerIam {
    display: inline-block;
    color: #e1ffe4;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    /*animation*/
    -webkit-animation: move 5s;
    -moz-animation: move 5s;
    -ms-animation: move 5s;
    -o-animation: move 5s;
    animation: move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

@-moz-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -50px;
    }
    40% {
        top: -100px;
    }
    60% {
        top: -150px;
    }
    80% {
        top: -200px;
    }
}

.header_top{
    width: 100%;
    padding: 2px 0;
}
.header_top .logo a img {
    margin-top: 8px;
    margin-left: 55px;
    width: 100px;
    border-radius: 50%;
}
.logo{
    margin: 1px auto;
    float:left;
    width: 33%;
}
.header_top_right{
    float: right;
    margin-top: 30px;
    width: 67%;
}
.search_box{
    background: #006600;
    float:right;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    width: 30%;
}
.search_box:hover {
    background: #FFFFFF;
}
.search_box input[type="text"]{
    width:74%;
    padding:9px 8px;
    outline:none;
    border:none;
    background:none;
    font-size:14px;
    color: #807e7e;
    font-family: 'Arial', serif;
    outline: none;
    margin:0;
}
.icon_search{
    margin-left:15px;
    margin-top: 20px;
    color: #919191;
    cursor: pointer;
}
.shopping_cart{
    float:right;
    width: 140px;
    cursor:pointer;
    margin-top: 10px;
}
.shopping_cart .cart{
    font-size:12px;
    font-weight:bolder;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    height: 20px;
    text-decoration: none;
    padding: 5px 8px 5px 0;
}
.icon_cart{
    padding-right: 10px;
    margin-left: 12px;
}
#modal_pane {
    display: none;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
}
#modal_pane .pane {
    position: fixed;
    top: 0;
    right: -30%;
    padding: 1rem 2rem;
    height: 100vh;
    width: 30%;
    background: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s all ease;
    opacity: 1;
}

/*MENU*/
.menu{
    display: block;
    background-color: #00B000;
    box-shadow: 0 2px 5px 0 rgba(0 0 0 0.16), 0 2px 10px 0 rgba(0 0 0 0.12);
    overflow: hidden;
    width: 100%;
    height: 60px;
}
.menu ul li{
    list-style-type: none;
    float: left;
}
.menu ul li a{
    color: #FFFFFF;
    display: inline;
    text-align: center;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #006600;
}

.menu .menu-right #regis{
    float: right;
    margin-right: 50px;
}

.menu .menu-right #login{
    padding-left: 80%;
}

.menu .menu-right .logout{
    float: right;
    margin-right: 50px;
    margin-top: -15px;
}
.menu .menu-right .username{
    padding-left: 80%;
    color: #3B5998;
}

.menu .menu-right .username:hover{
    color: white;
}

.menu a{
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.menu a:hover{
    color: #006600;
}

/*--SWIPER--*/
.swiper-container {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}



.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 750px) {
    .swiper-container {
        width: 100%;
        height: 200px;
    }
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*----EVENT---*/
.event.swiper-container {
    width: 100%;
    height: 50%;
}

.swiper-slide1 {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*FOOTER*/
.footer {
    width: 100%;
    height: 400px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0 50px 50px;
    color: #fff;
    background-color: #000000;
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-top: 25px;
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer .footer-right h2 {
    font-weight: 600;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.footer li {
    line-height: 2;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    margin-right: 30px;
}

.footer-right>* {
    flex: 1 50%;
}

.box a {
    color: #999;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 60px;
}

.footer-left p {
    line-height: 25px;
    padding-right: 20%;
    color: #999;
    font-weight: bold;
}

.socials {
    width: 40px;
    height: 40px;
    display: inline;
    text-align: center;
}

.socials a i{
    border-radius: 30%;
    margin-right: 5px;
}

.fa-facebook {
    background-color: #3B5998;
    color: white;
    width: 53px;
}

.fa-youtube {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #faa209;
    color: white;
}

.socials a i {
    color: #e7f2f4;
    padding: 6px 10px;
    font-size: 40px;
}

@media screen and (min-width: 750px) {
    .footer-right>* {
        flex: 1;
    }
    .footer-left {
        flex: 1 0;
    }
    .footer-right {
        flex: 1 0;
    }
}
